//@use 'styles/_bootstrap-custom';
@use '@angular/material' as mat;


html, body { height: 100%; }
body { margin: 0; 
    font-family: "open sans";
    font-size: 20px;
    line-height: 1.5em;
}

h1 {
    font-size: 2.8em;
    margin: 0px;
    line-height: 1.2em;
}
.oddcard {
    background-color: #1757AD;
    display:flex;
    color: white;
}
.evencard {
    background-color: #292929;
    display:flex;
    color: #fff;
}
html body {
    // background-color: var(--icatcher-dark);
    // color: var(--icatcher-dark-text);
}

  html {
    color-scheme: light dark;
    @include mat.theme((
      color: (
        primary: mat.$blue-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: Roboto,
      density: 0
    ));
  }

  body {
    background-color: var(--mat-sys-background);
    color: var(--mat-sys-on-background);
    // border: 1px solid var(--mat-sys-outline-variant);
    // font: var(--mat-sys-body-large);
  }

  //"node_modules/bootstrap/dist/css/bootstrap.min.css"