//@use 'styles/_bootstrap-custom';
@use '@angular/material' as mat;


html, body { height: 100%; }
body { margin: 0; 
    font-family: "open sans";
    font-size: 20px;
    line-height: 1.5em;
}

@media screen and (max-width: 600px) {
  header {
    font-size: 2.0rem;
    line-height: 1.0em; 
  }
}

@media screen and (min-width: 600px) {
  header {
    font-size: 2.8rem;
    line-height: 1.2em;
  }
}
header {
  margin: 0px;
  font-weight: 700;
  font-family: "roboto";
}
// h1 {
//     font-size: 2.8rem;
//     margin: 0px;
//     line-height: 1.2em;
// }
.oddcard {
    background-color: #1757AD;
    display:flex;
    color: white;
}
.evencard {
    background-color: #292929;
    display:flex;
    color: #fff;
}

  html {
    color-scheme: light dark;
    @include mat.theme((
      color: (
        primary: mat.$blue-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: Roboto,
      density: 0
    ));
  }

  body {
    background-color: var(--mat-sys-background);
    color: var(--mat-sys-on-background);
    // border: 1px solid var(--mat-sys-outline-variant);
    // font: var(--mat-sys-body-large);
  }

  //"node_modules/bootstrap/dist/css/bootstrap.min.css"

  /* You can add global styles to this file, and also import other style files */

.help-container {
  width: calc(90vw - 32px);
  margin: 2rem auto;
  background: #fff;
  border-radius: 1.5rem;
  box-shadow: 0 2px 12px rgba(0,0,0,0.07);
  padding: 2rem 1.5rem;
}
