.comma-list { font-size: 16px; line-height: 1.35; }
.comma-list .item { display: inline-block; white-space: nowrap; }
.comma-list .item::after { content: ",\00a0"; /* comma + nbsp */ }
.comma-list .item.no-comma::after { content: ""; }

.comma-list {
    display: flex;
    flex-wrap: wrap;
}