.podcast-card { 
    max-width: 400px;
    border-radius: 8px;
    padding: 60px;
  }
.card-body {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}
.card-title {
    align-self: flex-end;
    width: 100vw;
}
.card-image {
    text-align: center;
    padding: 8px;
    
  }
.card-text h5 {
    word-wrap: break-word;
    max-height: 1.2em;
    overflow: hidden;
}
.podcast-card img.artwork {
    
    max-height: 400px;
    max-width: 400px;
    background-size: cover !important;
    background-position: center;
}
.podcast-card {
    padding: 8px;
}
.others {
    align-self:flex-end;
}
.results {
    display: flex;
    justify-content: center;
    align-items: center;
    //padding-top:24px;
    flex-wrap: wrap;
    background-color: var(--icatcher-dark);
    width: 100vw;
  }