

<mat-toolbar>
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="basicMenu" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #basicMenu="matMenu">
    <button mat-menu-item routerLink="?itunes">
      <mat-icon>search</mat-icon>
      <span>Search</span>
    </button>
    <button mat-menu-item routerLink="privacy">
      Privacy
    </button>
    <button mat-menu-item routerLink="faq">
      <mat-icon>announcement</mat-icon>
      <span>FAQ</span>
    </button>
    <button mat-menu-item routerLink="contact">
      <mat-icon>announcement</mat-icon>
      <span>Contact</span>
    </button>
  </mat-menu>


  <span routerLink="">iCatcher.app</span>
  <span class="example-spacer"></span>
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
  <button mat-button 
    routerLink="/itunes">
    <!-- [queryParams]="{uname:'Mohan', age: 30, city:'Varanasi'}"
  queryParamsHandling="merge" -->
  
    Search
    <mat-icon>search</mat-icon>
  </button>
</mat-toolbar>
<section class="router-section">
<router-outlet class="router-outlet">
</router-outlet>
</section>