.content {
    display: flex;
    width: 100vw;
    justify-content: center;
    text-align: center;

}
.artwork {
    padding: 8px;
    max-width: 250px;
}
.content img {
    max-width: 250px;
    border-radius: 8px;
    margin: 8px;
}