<app-content-card>
<div class="container-md">
    <div class="col-12 row">
        <div class="col-1"></div>
        <div class="col-10 col-sm-10">
            <div class="page-header">
                <h1>Privacy Policy</h1>
                <p>The policy applies to the iOS application, iCatcher! Podcast Player.</p>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
    <div class=" row">
        <div class="col-1"></div>
        <div class="col-10 col-sm-10 col-sm-8">
            <h3>Information we collect</h3>
            <div>
                We do not collect your data. Any data you enter in the app that
                needs to be stored is stored in the app on your device. If you use
                iCloud sync, then it will store necessary information in your
                iCloud storage that you control. That information is not shared with us.
            </div>

            <h3>Third-party links and content</h3>
            <div>
                iCatcher! Podcast Player displays links and content from third-party podcast feeds. Artwork and playable media is downloaded from each podcast’s third-party servers. Each of those podcasts may have their own privacy policy.
                <br />
                <br />
                The built-in search to find podcasts to subscribe to utilizes resources listed below:
                <ul>
                    <li>
                        Search API from Apple
                        <ul>
                            <li>
                                <a href="https://affiliate.itunes.apple.com/resources/documentation/itunes-store-web-service-search-api/">Web Service Search API</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Top Podcast charts
                        <ul><li><a href="https://rss.itunes.apple.com/us/">https://rss.itunes.apple.com/us/</a></li></ul>
                    </li>
                </ul>
            </div>
            <div>
                <h3>In-app analytics</h3>
                <div>The app does not have in-app analytics.</div>
            </div>
            <!--<h3>Contacting Us</h3>
            <div></div>-->

            <h3>Your Consent</h3>
            <div>By using the iCatcher! Podcast Player you consent to our privacy policy.</div>

            <h3>Changes to this policy</h3>
            <div>
                Updates to this policy will be posted here.
                <ul>
                    <li><b>2017.05.24</b> - Initial Policy Posted</li>
                </ul>
            </div>


        </div>
        <div class="col-1"></div>
    </div>
</div>
</app-content-card>