.itunes {
    height: 100vh;
    width: 100vw;
    color: var(--icatcher-dark-text);
    padding: 8px;
}

.podcast-card { 
    max-width: 270px;
    border: solid 1px silver;
    border-radius: 8px;
    padding: 60px;
  }
  .card-image {
    text-align: center;
  }
  .card-body {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  .card-text {
    align-self: flex-end;
  }
  .card-text h5 {
    word-wrap: break-word;
    max-height: 1.2em;
    overflow: hidden;
  }
  .podcast-card img.artwork {
    border: solid 1px silver;
    width: 200px;
    background-size: cover !important;
    height: 200px;
    background-position: center;
    padding:4px;
  }
  .podcast-card {
    padding: 8px;
  }
  .results {
    display: flex;
    justify-content: center;
    padding-top:24px;
    flex-wrap: wrap;
    gap: 16px;
    background-color: var(--icatcher-dark);
  }
  .others {
    align-self:flex-end;
  }
  @media(min-width: 800px){
    .results {
        column-gap: 24px; 
      }
  }

  @media(max-width: 800px){
    .results {
        row-gap: 16px; 
      }
  }
  .clickable {
    cursor: pointer;
  }